.buttonContainer {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	margin: auto;
}

.button {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	flex: 0 0 calc(100% / 3);
	min-width: calc(100% / 3);
	font-size: 50px;
}

.buttonGameEnd {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	flex: 0 0 calc(100% / 3);
	min-width: calc(100% / 3);
	font-size: 50px;
	background-color: rgb(97, 218, 251);
}

.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	margin: auto;
	background-color: rgb(97, 218, 251);
}

.x {
	/* width: 50px;
	height: 50px; */
	margin: auto;
}

.x::before {
	display: block;
	content: 'x';
	font-size: 70px;
	margin-bottom: 10px;
}
